############# BOT INFO #############

ID=??????

############ BOT SETTINGS #############

SECRET=??????
TOKEN=??????
MONGOURI=??????
MAINGUILDID=??????
TOS=??????
PRIVACY=??????
CMDLOG=??????

############ API SETTINGS #############

WHSTK_API_KEY=??????
OPENAI=??????
INFLUX=??????
VIRUS_KEY=??????
REPLICATE=??????
###### TWITCH ######
TWITCHID=??????
TWITCHSECRET=??????
###### OMENLIST ######
OLTOKEN=??????
OL_VOTE_ROLE=??????
OLAPIKEY=??????
###### TOPGG ######
TOPGG=??????
TOPGG_VOTE_ROLE=??????

############ USER SETTINGS #############

OWNERID=["??????"]

############ WEBSITE SETTINGS ##############

PORT=??????
SITE_SECRET=??????
DOMAIN=??????
SITE=OFF