<!DOCTYPE html>
<html>
<head>
    <title>Transcripts List</title>
</head>
<body>
    <h1>Transcripts for Guild ID: <%= guildId %></h1>
    <ul>
        <% transcripts.forEach(transcript => { %>
            <li>
                <a href="/<%= guildId %>/transcripts/<%= transcript._id %>">Transcript from <%= transcript.createdAt.toDateString() %></a>
            </li>
        <% }) %>
    </ul>
</body>
</html>
